// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.submitbutton {
  margin-left: 1em;
  margin-top: 1em;
}
.signedin {
  padding-top: 1.1em;
}